*.ncb
*.opt
*.plg
*.aps
*.ipch
*.suo
*.user
*.sdf
*.opensdf
*.cfg
Debug-vc6/
Release-vc6/
.vs/
Debug-vs2012/
Debug-vs2012x64/
Debug-vs2013/
Debug-vs2013x64/
Debug-vs2015/
Debug-vs2015x64/
Debug-vs2017/
Debug-vs2017x64/
Debug-vs2019/
Debug-vs2019x64/
Release-vs2012/
Release-vs2012x64/
Release-vs2013/
Release-vs2013x64/
Release-vs2015/
Release-vs2015x64/
Release-vs2017/
Release-vs2017x64/
Release-vs2019/
Release-vs2019x64/
Debug-linux/
Release-linux/
Debug-wasm/
Release-wasm/
